#outerContainer{}
#rowContainer{}
#rowContainer aside, section {}
#placeholder {}

.header { }

.main {
   background-color:

}



.nav {
   background-color:


}


.section {
   background-color:
   width:

}



.aside {
   backgound-color: white;
   width:

}




.article {

}


@media all {

}

